	<% content_for :title, @category.name %>
<%content_for :_1st, "Fresh and Organic" %>
<%content_for :_2nd, @category.name %>
<!-- products -->
<div class="product-section mt-150 mb-150">
  <div class="container">
    <div class="row product-lists">
      <% if @products.any? %>
        <% @products.each do |product| %>
          <div class="col-lg-4 col-md-6 text-center">
            <div class="single-product-item">
              <div class="product-image">
                <a href="#">
                  <img src="<%= product.image_path%>" alt="">
                </a>
              </div>
              <h3><%= product.name %></h3>
              <p class="product-price">
                <span>Per Item</span>
                <%= product.price %>$
              </p>
              <%= button_to add_to_cart_path(product.id),
              method: :post,
              class: "cart-btn" do %>
                <i class="fas fa-shopping-cart"></i> Add to Cart
              <% end %>
              <%# show the product %>
              <%= link_to "View Details", product_path(product), class: "cart-btn" %>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="col-12 text-center">
          <h3>There are no products</h3>
        </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="pagination-wrap">
          <ul>
            <li><a href="#">Prev</a></li>
            <li><a href="#">1</a></li>
            <li><a class="active" href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">Next</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end products -->