	<% content_for :title, "Shop" %>
<%content_for :_1st, "Fresh and Organic" %>
<%content_for :_2nd, "Shop" %>
<!-- products -->
<div class="product-section mt-150 mb-150">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="product-filters">
          <ul>
            <li class="<%= 'active' if params[:category].blank? %>">
              <%= link_to "All", shop_path ,style: "color: black;"%>
            </li>
            <% @categories.each do |category| %>
              <li class="<%= 'active' if params[:category] == category.name %>">
                <%= link_to category.name,
            shop_path(category: category.name),style: "color: black;" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="row product-lists">
      <% if @products.any? %>
        <% @products.each do |product| %>
          <div class="col-lg-4 col-md-6 text-center <%= product.category&.name&.parameterize %>">
            <div class="single-product-item">
              <div class="product-image">
                <%= link_to product_path(product) do %>
                  <%= image_tag product.image_path, alt: product.name %>
                <% end %>
              </div>
              <h3><%= product.name %></h3>
              <p class="product-price">
                <span>Per Unit</span>
                <%= number_to_currency(product.price) %>
              </p>
              <% if product.stock_quantity > 0 %>
                <%= button_to "Add to Cart",
                  add_to_cart_path(product),
                  method: :post,
                  class: "cart-btn" %>
              <% else %>
                <span class="text-danger">Out of Stock</span>
              <% end %>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="col-md-12 text-center">
          <h2>No products available</h2>
        </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="pagination-wrap">
          <ul>
            <li><a href="#">Prev</a></li>
            <li><a href="#">1</a></li>
            <li><a class="active" href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">Next</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end products -->