<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">
    <!-- title -->
    <title><%= content_for(:title) || "Fruitkha" %></title>
    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="/assets/img/favicon.png">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="/assets/css/all.min.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <!-- owl carousel -->
    <link rel="stylesheet" href="/assets/css/owl.carousel.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <!-- animate css -->
    <link rel="stylesheet" href="/assets/css/animate.css">
    <!-- mean menu css -->
    <link rel="stylesheet" href="/assets/css/meanmenu.min.css">
    <!-- main style -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- responsive -->
    <link rel="stylesheet" href="/assets/css/responsive.css">
  </head>
  <body>
    <!--PreLoader-->
    <div class="loader">
      <div class="loader-inner">
        <div class="circle"></div>
      </div>
    </div>
    <!--PreLoader Ends-->
    <!-- header -->
    <div class="top-header-area" id="sticker">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-sm-12 text-center">
            <div class="main-menu-wrap">
              <!-- logo -->
              <div class="site-logo">
                <a href="/">
                  <img src="/assets/img/logo.png" alt="">
                </a>
              </div>
              <!-- logo -->
              <!-- menu start -->
              <nav class="main-menu">
                <ul>
                  <li class="<%= 'current-list-item' if current_page?(root_path) %>">
                    <%= link_to "Home", root_path %>
                  </li>
                  <li class="<%= 'current-list-item' if current_page?(about_path) %>">
                    <%= link_to "About", about_path %>
                  </li>
                  <li class="<%= 'current-list-item' if current_page?(news_path) %>">
                    <%= link_to "News", news_path %>
                  </li>
                  <li class="<%= 'current-list-item' if current_page?(contact_path) %>">
                    <%= link_to "Contact", contact_path %>
                  </li>
                  <li class="<%= 'current-list-item' if current_page?(shop_path) %>">
                    <%= link_to "Shop", shop_path %>
                  </li>
                  <li>
                    <div class="header-icons">
                      <% if admin_signed_in? %>
                        <span style="color: white;"><%= current_admin.email %></span> |
                        <%= link_to 'Logout', destroy_admin_session_path %>
                      <% else %>
                        <%= link_to 'Sign Up', new_admin_registration_path %> |
                        <%= link_to 'Login', new_admin_session_path %>
                      <% end %>
                      <%= link_to cart_path, class: "shopping-cart" do %>
                        <i class="fas fa-shopping-cart"></i>
                      <% end %>
                      <a class="mobile-hide search-bar-icon" href="#">
                        <i class="fas fa-search"></i>
                      </a>
                    </div>
                  </li>
                </ul>
              </nav>
              <a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
              <div class="mobile-menu"></div>
              <!-- menu end -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end header -->
    <!-- search area -->
    <div class="search-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <span class="close-btn"><i class="fas fa-window-close"></i></span>
            <div class="search-bar">
              <div class="search-bar-tablecell">
                <h3>Search For:</h3>
                <input type="text" placeholder="Keywords">
                <button type="submit">Search <i class="fas fa-search"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end search arewa -->


    <!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p><%= content_for?(:_1st) ? yield(:_1st) : "Default Title" %></p>
						<h1><%= content_for?(:_2nd) ? yield(:_2nd) : "Default Title" %></h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->
    <%= yield %>


    <!-- copyright -->
    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <p>Copyrights &copy; 2019 - <a href="https://imransdesign.com/">Imran Hossain</a>,  All Rights Reserved.<br>
              Distributed By - <a href="https://themewagon.com/">Themewagon</a>
            </p>
          </div>
          <div class="col-lg-6 text-right col-md-12">
            <div class="social-icons">
              <ul>
                <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end copyright -->
    <!-- jquery -->
    <script src="/assets/js/jquery-1.11.3.min.js"></script>
    <!-- bootstrap -->
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <!-- count down -->
    <script src="/assets/js/jquery.countdown.js"></script>
    <!-- isotope -->
    <script src="/assets/js/jquery.isotope-3.0.6.min.js"></script>
    <!-- waypoints -->
    <script src="/assets/js/waypoints.js"></script>
    <!-- owl carousel -->
    <script src="/assets/js/owl.carousel.min.js"></script>
    <!-- magnific popup -->
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- mean menu -->
    <script src="/assets/js/jquery.meanmenu.min.js"></script>
    <!-- sticker js -->
    <script src="/assets/js/sticker.js"></script>
    <!-- main js -->
    <script src="/assets/js/main.js"></script>
    <!-- form validation js -->
    <script src="/assets/js/form-validate.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@rails/ujs@7.1.2/lib/assets/compiled/rails-ujs.min.js"></script>
    <script>
      Rails.start()
    </script>
  </body>
</html>